@charset "utf-8";
/* estilos del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
 
/* estilos de la cabecera */
header {
    background-color: #ED7577;
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

/* estilos de la barra de navegacion */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
     padding: 150px 20px 20px;
}

form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* estilos del boton de enviar */
button {
    background-color: #4CAF50;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* estilos del pie de pag */
footer {
    background-color: #ED7577;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    bottom: 0;
}


